{% extends "base.html" %}

{% block content %}


<h1 style="text-align:center;">Recomendador de Vídeos do Youtube</h1>
<div class = "container">
<table class = " table table-striped table-bordered table-hover table-predictions ">
    <thead>
    <tr class = "danger">
        <th style="text-align:center;">Vídeos</th>
        <th style="text-align:center;" >Scores</th>
    </tr>
    </thead>

    <tbody style="text-align:center;">
    {% for prediction in predictions %}
    <tr>
        <td><a href="{{prediction[0]}}">{{prediction[1]}}</a></td>
        <td>{{prediction[2]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>    
{% endblock content %}

